<%- include('partials/main/header'); %>
  <%- include('partials/main/sidebar');%>
    <%- include('partials/main/navbar');%>

      <div class="main-content container-fluid">

        <div class="page-title">
          <h3>
            <%= title %>
          </h3>
          <p class="text-subtitle text-muted">
            <%= subTitle %>
          </p>
        </div>
        <section class="section">

          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <img src="https://picsum.photos/300/300" class="rounded mx-auto d-block" alt="...">
                <hr>
                <div class="row">

                  <div class="col-md-6 col-12 mb-3">
                    <div class="form-group">
                      <h5 class="card-title">Username</h5>
                      <p class="card-text">somchai</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mb-3">
                    <div class="form-group">
                      <h5 class="card-title">Password</h5>
                      <p class="card-text">*********</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mb-3">
                    <div class="form-group">
                      <h5 class="card-title">Role</h5>
                      <p class="card-text">user</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mb-3">
                    <div class="form-group">
                      <h5 class="card-title">Gender</h5>
                      <p class="card-text">Male</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mb-3">
                    <div class="form-group">
                      <h5 class="card-title">Name</h5>
                      <p class="card-text">Somcai Jaidee</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mb-3">
                    <div class="form-group">
                      <h5 class="card-title">Email</h5>
                      <p class="card-text">somchai@gmail.com</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mb-3">
                    <div class="form-group">
                      <h5 class="card-title">Date of birth</h5>
                      <p class="card-text">04/04/1998</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-12 mb-3">
                    <div class="form-group">
                      <h5 class="card-title">Mobile number</h5>
                      <p class="card-text">099-325-0644</p>
                    </div>
                  </div>

                  <div class="col-12 mb-3">
                    <div class="form-group">
                      <h5 class="card-title">Address </h5>
                      <p class="card-text">15/98 sansuk, A.mueng, Chonburi 2258, Thailand </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </section>

      </div>
      <%- include('partials/main/footer'); %>